
<mat-toolbar color="primary">
  <span>Rootvis</span>
</mat-toolbar>

<div class="container">
  <div class="row">
    <div class="col">
      <span class="mat-h1">RootVis is a tool for visualizing Root games using <a class="link" href="https://github.com/Vagabottos/Rootlog">Rootlog</a></span>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <span class="mat-h2">Watch some tournament games:</span>
    </div>
  </div>
  <span *ngFor="let game of games">
    <div class="row">
      <div class="col">
        <a class="link" href="/full-game?gameUrl={{game.url}}">{{game.title}}</a>
      </div>
    </div>
  </span>
  <div class="row">
    <div class="col">
      <a class="btn" mat-raised-button color="primary" href="/input-game">Input Your Game</a>
    </div>
  </div>
</div>
