
a.link {
  color: pink;
}

a:visited.link {
  color: violet;
}

.mat-h1, .mat-h2 {
  text-align: center;
  width: 100%;
}

.container {
  padding: 10px;

  .row {
    margin-left: 20%;
    margin-right: 20%;
  }
}


.row {
  margin-top: 10px;
}
