
a.link {
  color: pink;
}

a:visited.link {
  color: violet;
}

.btn {
  text-decoration: none;
  font-weight: 700;
  color: black;
}

.info {
  line-height: 40px;
  font-size: 2em;
  white-space: pre-wrap;
}

.container {
  padding: 10px;

  .row {
    margin-left: 20%;
    margin-right: 20%;
  }
}


.row {
  margin-top: 10px;
}
