
<mat-toolbar color="primary">
  <span>Rootvis</span>
</mat-toolbar>

<div class="container">
  <div class="row">
    <div class="col">

      <div class="game" *ngIf="game">

        <div class="players">
          <div class="player" *ngFor="let player of game.players | keyvalue">
            <img class="player-icon" [src]="'assets/icon/faction-' + getFaction(player.key) + '.png'" />
            <span class="player-name">{{ player.value }}</span>
            <span class="player-vp">[{{ getCurrentVP(player.key) }}]</span>
          </div>
        </div>

        <div class="map-container">
          <div class="map">
            <img class="map-icon" [src]="'assets/map/map-' + game.map.toLowerCase() + '.png'" />

            <img class="map-pin"
                 [ngClass]="['pin' + (i + 1)]"
                 *ngFor="let suit of game.clearings; let i = index"
                 [src]="'assets/clearing/clearing-' + getSuit(suit) + '.png'"
                 [style.left]="rootlogService.clearingPositions[game.map][i][0] + 'px'"
                 [style.top]="rootlogService.clearingPositions[game.map][i][1] + 'px'" />
          </div>
        </div>

        <div class="controls">
          <button mat-icon-button
                  [disabled]="currentAction === 0"
                  (click)="prevTurn()"
                  matTooltip="Previous Turn"
                  color="accent">
            <mat-icon>arrow_back</mat-icon>
          </button>

          <button mat-icon-button
                  [disabled]="currentAction === 0"
                  (click)="setAction(currentAction - 1)"
                  matTooltip="Previous Action"
                  color="accent">
            <mat-icon>arrow_left</mat-icon>
          </button>

          <mat-slider color="accent"
                      defaultColor="accent"
                      min="0"
                      [max]="allActions.length - 1"
                      (change)="setAction($event.value || 0)"
                      [(ngModel)]="currentAction"></mat-slider>

          <button mat-icon-button
                  [disabled]="currentAction === allActions.length - 1"
                  (click)="setAction(currentAction + 1)"
                  matTooltip="Next Action"
                  color="accent">
            <mat-icon>arrow_right</mat-icon>
          </button>

          <button mat-icon-button
                  [disabled]="currentAction === allActions.length - 1"
                  (click)="nextTurn()"
                  matTooltip="Next Turn"
                  color="accent">
            <mat-icon>arrow_forward</mat-icon>
          </button>

          <div class="current-action">
            <span class="action-taker">[{{ rootlogService.factionProperNames[action.currentTurn] }}]</span>
            <span class="action-desc">{{ action.description }}</span>
          </div>
        </div>

        <!-- map, deck, clearings, pool, players, turns, winner -->
      </div>

    </div>
  </div>
</div>
