
.container {
  padding: 10px;

  .row {
    margin-left: 20%;
    margin-right: 20%;
  }
}

mat-form-field, button {
  width: 100%;
}


.row {
  margin-top: 20px;
}

textarea {
  height: 50vh;
  max-height: 50vh;
}
