

:host {
  display: flex;
  flex-direction: column;
  position: relative;

  width: 100%;
  height: 100%;

  .players, .controls {
    width: 100%;
  }

  .players {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    height: 60px;
    max-height: 60px;

    .player {
      display: flex;

      .player-icon {
        width: 16px;
        height: 16px;
        margin-right: 5px;
      }

      .player-name {
        margin-right: 5px;
      }

    }
  }

  .map-container {
    flex: 1;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;

    height: calc(100% - 134px);

    .map {
      position: relative;

      .map-clearing {
        position: absolute;
        max-width: 74px;

        .map-pin {
          position: absolute;
          top: 0;
          left: 0;
          max-width: 74px;
          max-height: 74px;
          filter: grayscale(80%);
        }

        .map-components {
          display: flex;
          flex-wrap: wrap;

          .map-component {
            width: 20px;
            height: 20px;
            z-index: 100;
            margin: 2px;

            filter: drop-shadow(2px 2px 0 black)
                    drop-shadow(2px -2px 0 black)
                    drop-shadow(-2px 2px 0 black)
                    drop-shadow(-2px -2px 0 black);
          }
        }
      }
    }
  }

  .controls {
    height: 74px;
    max-height: 74px;
    padding-bottom: 10px;

    position: relative;

    display: flex;
    justify-content: space-between;
    align-items: center;

    mat-slider {
      flex: 1;
      margin-right: 20px;
      margin-left: 20px;
    }

    .current-action {
      width: 100%;
      position: absolute;
      bottom: 15px;
      text-align: center;
      z-index: 0;

      .action-turn {
        margin-right: 5px;
      }

      .action-taker {
        margin-right: 5px;
      }
    }
  }
}
